@media (min-width: 768px) {
            .emission-docs-masthead {
                height: 100%;
                margin: 0;
                padding: 80px 0;
            }
        }

        .emission-docs-masthead {
            text-align: center;
            height: 95vh;
            position: relative;
            padding: 0px 0px;
            color: #cdbfe3;
            background-color: #54DCC1;
            text-align: center;
            text-shadow: 0 1px 0 rgba(0,0,0,.1);
        }

        .carousel .carousel-inner {
            height:100%
        }

        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        .intro-img {
          display: block;
          width: auto;
          margin: auto auto;
          align: center;
        }

        .intro-slide {
            margin: 0;
            padding: 0px 0px;
            height: 100%;
            color: #cdbfe3;
            background-color: #54DCC1;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#54DCC1),to(#01D0A7));
            background-image: -webkit-linear-gradient(top,#54DCC1 0,#01D0A7 100%);
            background-image: -o-linear-gradient(top,#54DCC1 0,#01D0A7 100%);
            background-image: linear-gradient(to bottom,#54DCC1 0,#01D0A7 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54DCC1', endColorstr='#01D0A7', GradientType=0);
        }

.carousel-caption {
    background: rgba(0, 0, 0, 0.3);
}

.caption-text {
    color: #f6eeee !important;
}


        #home-content {
            width: 100vw;
            height: 95vh;
        }
