@media (min-width: 768px) {
            .emission-docs-masthead {
                height: 100%;
                margin: 0;
                padding: 80px 0;
            }
        }

        .emission-docs-masthead {
            text-align: center;
            height: 90vh;
            position: relative;
            padding: 0px 0px;
            color: #cdbfe3;
            text-align: center;
            text-shadow: 0 1px 0 rgba(0,0,0,.1);
            background-color: #54DCC1;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#54DCC1),to(#01D0A7));
            background-image: -webkit-linear-gradient(top,#54DCC1 0,#01D0A7 100%);
            background-image: -o-linear-gradient(top,#54DCC1 0,#01D0A7 100%);
            background-image: linear-gradient(to bottom,#54DCC1 0,#01D0A7 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54DCC1', endColorstr='#01D0A7', GradientType=0);
            background-repeat: repeat-x;
        }

        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

        img {
          display: block;
          width: auto;
          height: auto;
          max-width: 100vh;
          max-height: 90vh;
          margin: 20px auto;
        }

        uib-carousel {
            width: 100vh;
            height: 90vh;
        }
