.redirect div {
  padding: 10px 5% 5px 5%;
}

.redirect h2 {
  /* Welcome to E-mission: */
  text-align: center;
  font-family: AvenirNext-Bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.redirect h4 {
  /* Install E-mission: */
  font-family: AvenirNext-DemiBold;
  color: #4A4A4A;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.redirect svg {
  vertical-align: middle;
  margin-right: 10px;
}

.redirect img {
  display: block;
  margin: auto;
}

.redirect qrcode {
  text-align: center;
}

#logo {
  width: 96px;
}

#downloadButton {
  height: 65px;
  padding: 0;
}

.redirect p {
  font-family: AvenirNext-Regular;
  color: #4A4A4A;
  text-align: center;
  font-size: 16px;
}

.redirect a {
  display: inline-block;
  padding: 0 5px 0 5px;
}

#downloadRow {
  display: block;
  margin: auto;
  text-align: center;
}

#groupLink {
  /* Rectangle 2: */
  background: rgba(216,216,216,0.62);
  border: 1px solid #417505;
  border-radius: 8px;
  text-align: center;
  padding: 10px 10% 5px 10%;
  width: 100%;
}

#groupLink p {
  font-family: AvenirNext-DemiBold;
  padding: 0;
}
