#faq, #download {
	padding-bottom: 50px;
}

.video_box{
    position: relative;
    float:left;
}
.video_overlays {
    position:absolute;
    float:left;
    background-color: rgba(255, 153, 0, 0.5);
    text-align: center;
    top: 300px;
    color: #FFF;
    width:350px;
    min-height:10x;
    z-index:300000;
}

.fig_ref {
    color: #dc2430;
    display: inline-block;
    /* background: rgba(255, 255, 255, 0.75); */
    background: #fef0cd;
    border-radius: 1em;
    border: 2px solid #dc2430;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    font-weight: 500;
    line-height: 1.2em;
    margin-right: 0.1em;
}

figure {
    text-align: center;
}

figure img {
    width: 40%;
}

/* @media print {
    .fig_ref::before {
        content: "["
    }
    .fig_ref::after {
        content: "]"
    }
} */