#faq, #download {
	padding-bottom: 50px;
}

.video_box{
    position: relative;
    float:left;
}
.video_overlays {
    position:absolute;
    float:left;
    background-color: rgba(255, 153, 0, 0.5);
    text-align: center;
    top: 300px;
    color: #FFF;
    width:350px;
    min-height:10x;
    z-index:300000;
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
