<!doctype html>
<html>
  <head>
    <title>E-Mission</title>
    <link href="front/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="front/cfc.display.css" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.js" charset="utf-8"></script>
    <script src="front/nv.d3.min.js" charset="utf-8"></script>
    <script src="front/nv.d3.utils.js"></script>
    <script src="front/nv.d3.models.pieChart.js"></script>
    <script src="front/bullet.js"></script>
    <script src="front/cfc.display.js"></script>
    <script src="front/cfc.compare.js"></script>
  </head>
  <body onload="cfc.compare.displayCompare();">
    <center>
      <form>
      <select id="myList" onchange="cfc.compare.displayCompare()">
        <option>My Summary</option>
        <option>Compare mode share counts</option>  
        <option>Compare mode share distances</option>  
        <option>Compare mode carbon footprint</option>
      </select>
      </form>
      <h3 id="message"></h3><a href="#info_form" id="info_pop">Info</a>
        <!-- popup form #1 -->
        <a href="#x" class="overlay" id="info_form"></a>
        <div class="popup">
            <h2>Welcome to E-Mission!</h2>
               <p>This app tracks your travel behavior and calculates your carbon
                footprint! You can then see how your daily carbon footprint measures up to the
                average user’s footprint, your footprint if you were to drive everywhere, and
                other fun metrics.</p><p>The measurement is weekly, but we’ll ask you to confirm your
                trips several times a day. You can confirm trips whenever convenient - most
                people confirm once a day.</p>
                <p>Thank you for participating!</p>
            <a class="close" href="#close"></a>
        </div>
      <div id="chart" class="mypiechart"></div>
    </center>
    <script>
      var myModeShareCount = {{myModeShareCount}}
      var avgModeShareCount = {{avgModeShareCount}}

      var myModeShareDistance = {{myModeShareDistance}}
      var avgModeShareDistance = {{avgModeShareDistance}}

      var myModeCarbonFootprint = {{myModeCarbonFootprint}}
      var avgModeCarbonFootprint = {{avgModeCarbonFootprint}}

      var myOptimalCarbonFootprint = {{myOptimalCarbonFootprint}}
      var avgOptimalCarbonFootprint = {{avgOptimalCarbonFootprint}}
    </script>
  </body>
</html>
