*.pyc
*.pdf
*.swp
*debug.log
.DS_Store
seed_model.json

CFC_WebApp/config.json
CFC_WebApp/keys.json
CFC_WebApp/moves_collect.log

CFC_DataCollector/config.json
CFC_DataCollector/keys.json
CFC_DataCollector/moves_collect.log

webapp/www/lib
conf/**/*.json

*.ipynb_checkpoints*

*.secret
seed_model.json
