*.pyc
*.pdf
*.swp
*debug.log
.DS_Store
.vscode

CFC_WebApp/config.json
CFC_WebApp/keys.json
CFC_WebApp/moves_collect.log

CFC_DataCollector/config.json
CFC_DataCollector/keys.json
CFC_DataCollector/moves_collect.log

webapp/www/lib
conf/**/*.json
!conf/**/*.schema.json

*.ipynb_checkpoints*

*.secret
emission/net/api/cfc_webapp.py
seed_model.json
emission/net/api/cfc_webapp.py
file.txt
emission/net/api/cfc_webapp.py
