{
    "intake.segmentation.section_segmentation.sectionValidityAssertions": true,
    "intake.cleaning.clean_and_resample.speedDistanceAssertions": true,
    "intake.cleaning.clean_and_resample.sectionValidityAssertions": true,
    "intake.cleaning.filter_accuracy.enable": false,
    "classification.inference.mode.useAdvancedFeatureIndices": true,
    "classification.inference.mode.useBusTrainFeatureIndices": true,
    "classification.validityAssertions": true,
    "output.conversion.validityAssertions": true,
    "section.startStopRadius": 150,
    "section.endStopRadius": 150,
    "analysis.result.section.key": "analysis/inferred_section",
    "userinput.keylist": ["manual/mode_confirm", "manual/purpose_confirm"]
}
