{
    "model_type": "greedy",
    "model_storage": "document_database",
    "minimum_trips": 14,
    "model_parameters": {
        "greedy": {
            "metric": "od_similarity",
            "similarity_threshold_meters": 500,
            "apply_cutoff": false,
            "incremental_evaluation": false
        },
        "gbdt": {
            "feature_list": {
                "data.user_input.mode_confirm": [
                    "drive",
                    "bike",
                    "walk",
                    "transit"
                ],
                "data.user_input.purpose_confirm": [
                    "work",
                    "home",
                    "school"
                ]
            },
            "dependent_var": "data.user_input.replaced_mode",
            "incremental_evaluation": false
        },
        "svm": {
            "feature_list": {
                "data.user_input.mode_confirm": [
                    "drive",
                    "bike",
                    "walk",
                    "transit"
                ],
                "data.user_input.purpose_confirm": [
                    "work",
                    "home",
                    "school"
                ]
            },
            "dependent_var": "data.user_input.replaced_mode",
            "incremental_evaluation": true
        }
    }
}