{
    "model_type": "forest",
    "model_storage": "document_database",
    "minimum_trips": 14,
    "model_parameters": {
        "greedy": {
            "metric": "od_similarity",
            "similarity_threshold_meters": 500,
            "apply_cutoff": false,
            "incremental_evaluation": false
        },
        "forest": {
            "loc_feature" : "coordinates",
            "radius": 100,
            "size_thresh":1,
            "purity_thresh":1.0,
            "gamma":0.05,
            "C":1,
            "n_estimators":100,
            "criterion":"gini",
            "max_depth":null,
            "min_samples_split":2,
            "min_samples_leaf":1,
            "max_features":"sqrt",
            "bootstrap":true,
            "random_state":42,
            "use_start_clusters":false,
            "use_trip_clusters":true            
        }
    }
}