{
    "alert_type": "survey",
    "title": "Tell us about yourself",
    "message": "3 question survey - approx 20 secs",
    "image": "icon",
    "spec": {
      "url": "https://docs.google.com/forms/d/e/1FAIpQLSd_7VICYb8AfLQPIt8pg9AYsXW_rrHQBfsv-NSviO7Dgk7fyg/viewform",
      "uuidXPath": "/html/body/div/div[2]/form/div[2]/div/div[2]/div[1]/div/div/div[2]/div/div[1]/div/div[1]/input"
    }
}
