<ion-view view-title="Setup">
  <ion-content>
      <div class="redirect">
        <div>
          <img id="logo" ng-src="img/favicon-96x96.png">
        </div>
        <div>
          <h2>Thank you for participating - only two steps left!</h2>
          <p>
            Please open the links below <b>on your phone</b>, or read the QR codes from a laptop display using a QR code reader <b>on your phone.</b>
          </p>
        </div>
        <div>
          <svg width="58px" height="49px" viewBox="0 0 58 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-378.000000, -349.000000)">
                      <g id="Notes-/-Callout-E" transform="translate(378.000000, 349.000000)">
                          <path d="M7.07825279,7.17588386 C16.5159232,-2.39196129 31.8174102,-2.39196129 41.2550805,7.17588386 L56.9739641,23.1115796 C57.7303348,23.878383 57.7353087,25.1165745 56.9739641,25.8884204 L41.2550805,41.8241161 C31.8174102,51.3919613 16.5159232,51.3919613 7.07825279,41.8241161 C-2.3594176,32.256271 -2.3594176,16.743729 7.07825279,7.17588386 Z" id="Callout-Background" fill="#F6A623" fill-rule="evenodd"></path>
                          <text id="Label" font-family="AvenirNext-Bold, Avenir Next" font-size="20" font-weight="bold" letter-spacing="-0.810000002" fill="#FFFFFF">
                              <tspan x="18.1116667" y="30.78">1</tspan>
                          </text>
                      </g>
                  </g>
              </g>
          </svg>
        <h4>Install the emTripLog app</h4>
        </div>
        <div class="row responsive-sm">
          <a class="col" href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.embase'><img style="height:75px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
          <img src = "../img/greentrip_qr_code_gp.png">
            <!-- <br style="clear:both;"/> -->
        </div>
        <div class="row responsive-sm">
          <a class="col" href="https://itunes.apple.com/us/app/emtriplog/id1362434685"><img style="height:75px;" alt='Get in on the iOS app store' ng-src = "../img/apple_badge.svg" src='../img/apple-badge.svg'/></a>
          <qrcode class="col" data="https://itunes.apple.com/us/app/emtriplog/id1362434685" size="200"></qrcode>
            <!-- <br style="clear:both;"/> -->
            <img src = "../img/greentrip_qr_code_as.png">
        </div>
        <div>
          <svg width="58px" height="49px" viewBox="0 0 58 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-378.000000, -349.000000)">
                      <g id="Notes-/-Callout-E" transform="translate(378.000000, 349.000000)">
                          <path d="M7.07825279,7.17588386 C16.5159232,-2.39196129 31.8174102,-2.39196129 41.2550805,7.17588386 L56.9739641,23.1115796 C57.7303348,23.878383 57.7353087,25.1165745 56.9739641,25.8884204 L41.2550805,41.8241161 C31.8174102,51.3919613 16.5159232,51.3919613 7.07825279,41.8241161 C-2.3594176,32.256271 -2.3594176,16.743729 7.07825279,7.17588386 Z" id="Callout-Background" fill="#F6A623" fill-rule="evenodd"></path>
                          <text id="Label" font-family="AvenirNext-Bold, Avenir Next" font-size="20" font-weight="bold" letter-spacing="-0.810000002" fill="#FFFFFF">
                              <tspan x="18.1116667" y="30.78">2</tspan>
                          </text>
                      </g>
                  </g>
              </g>
          </svg>
          <h4>Join this study</h4>
        </div>
        <div id="downloadRow">
          <a id="groupLink" href="emission://change_client?new_client={{urap2017control}}&clear_local_storage={{clear_local_storage_flag}}&clear_usercache={{clear_usercache_flag}}">
            <p style="color: #417505;">Open this link on your phone to launch the app and join the study</p>
            <div id = "join_link"> <p style="color: black;">emission://change_client?new_client={{urap2017control}}&clear_local_storage={{clear_local_storage_flag}&clear_usercache={{clear_usercache_flag}}</p> </div>
          </a>
        </div>
        <div>
          <qrcode class="col" data="emission://change_client?new_client={{greentrip}}&clear_local_storage={{clear_local_storage_flag}}&clear_usercache={{clear_usercache_flag}}" size="200"></qrcode>
          <img id = "customize" src = "../img/join_study.png">
        </div>
      </div>
      <!-- https://youtu.be/CV1rGkRn9xM video displaying qr code testing --> 

  </ion-content>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="../js/client_setup.js"></script>
</ion-view>

