<ion-view view-title="Home">
<ion-content>
<section class="nav navbar navbar-default navbar-fixed-top" ng-cloak>
    <section class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: #585858 ">emission</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a fullpage-href="summary" style="color:#585858">
                        Summary
                    </a>
                </li>
                <li>
                    <a fullpage-href="personal" style="color:#585858">
                        Personal
                    </a>
                </li>
                <li>
                    <a fullpage-href="aggregate" style="color:#585858">
                        Aggregate
                    </a>
                </li>
                <li>
                    <a fullpage-href="code" style="color:#585858">
                        Code
                    </a>
                </li>
                <li>
                    <a fullpage-href="join" style="color:#585858">
                        Join us!
                    </a>
                </li>
            </ul>
        </div>
    </section>
</section>
<fullpage class="instant-size" page-class="page">
    <section class="page" id="summary">
        <section class="container">
            <div class="row card" style="padding:1%;">
            <div class="col-md-2 ">
               <img ng-src="img/personal/compare_with_common.png" style="opacity: 0.7; float:left;" height="480vw">
            </div>
            <div class="col-md-8" id="main-back">
            <h1 class="introH">E-Mission</h1>
            <p class="intro firstPar">E-Mission is a research project at UC Berkeley that allows all of us to share our travel patterns and experiences with our community and with urban planners.</p>
            <p class="intro firstPar">Our goal is to enable personal and structural shifts to sustainable transportation.</p>
            <p class="intro firstPar" >The project consists of a smartphone application that functions as a personal travel diary, and an aggregate data analysis platform that enables interactive exploration of the collected data.</p>
            </div>
            <div class="col-md-2">
               <img ng-src="img/personal/compare_with_common.png" style="opacity: 0.7; float:right" height="480vw">
            </div>
            </div>
        </section>
    </section>
    <section class="page" id="personal">
        <section class="container">
          <div class="row card" style="padding:1%;">
            <div class="col-md-4">
                <uib-carousel id="personalCarousel" active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in personalSlides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <p>{{slide.text}}</p>
                </div>
                </uib-slide>
                </uib-carousel>
            </div>
            <div class="col-md-6">
                <h1 class="introH">Personal</h1>
                <p class="intro">The phone app provides a
                personalized travel diary, with information about times,
                distances, trajectories and travel modes. Since we track travel patterns over
                time, we are able to build data-driven tour models that we can use to track
                personalized trends over time:
                <ul class='intro'>
                <li> are your trips taking longer?
                <li> are you leaving for work later?
                <li> are you using different transportation modes?
                </ul>
              </p>
              <a class="button button-assertive button-block" fullpage-href="join">Get it now!</a>
            </div>
          </div>
        </section>
    </section>
    <section class="page" id="aggregate">
        <section class="container">
            <div class="row">
              <div class="col-md-12 card" style="padding:1%";>
                <h1 class="introH">Aggregate</h1>
                <p class="intro">The webapp provides an aggregate
                 view of travel patterns and supports filters by mode, month, day,
                 weekday and time of day. This enables fine-grained visibility into changes over
                 time. The maps here show the heatmap for <b>bicycling</b> trips in the
                 Berkeley Area on <b>Thursday</b> commute hours <b>(7am to 10am)</b> in the
                 months of <b>March and April</b>. It looks like somebody used to bike around the South
                 side in March and then stopped!!
                 <a class="button button-assertive" href="/tab/heatmap">Explore now!</a>
                 </p>
                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in aggregateSlides track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="align:center;margin:auto;height:90%;width:90%">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                    </uib-slide>
                </uib-carousel>
              </div>
            </div>
        </section>
    </section>
    <section class="page " id="code">
        <section class="container card" style="padding:1%";>
            <h1 class="introH">Code</h1>
            <p class="intro">The code is available on github under an open source BSD license. So you have complete visibility into the data that we collect, the analysis that we perform on it, and the results that we display.</p>
            <p><a class="button button-assertive" href="https://github.com/e-mission/e-mission-server">View on GitHub</a>
            </p>
            <p class="intro">You can even join our list of contributors. </p>
            <p class="intro"><a href="https://github.com/e-mission/e-mission-server/graphs/contributors">Server code</a> </p>
            <p class="intro"><a href="https://github.com/e-mission/e-mission-phone/graphs/contributors">Phone code</a></p>
            <p class="intro">Cordova plugins for:
            <ul class="intro">
                <li> <a href="https://github.com/e-mission/e-mission-data-collection/graphs/contributors">energy-efficient data collection</a> </li>
                <li> <a href="https://github.com/e-mission/cordova-usercache/graphs/contributors">bi-directional offline storage and processing</a></li>
                <li> and more: <a href="https://github.com/e-mission/">https://github.com/e-mission/</a></li>
            </ul>
        </section>
    </section>
    <section class="page" id="join">
        <section class="container card" style="padding:1%";>
            <h1 class="introH">Join us!</h1>
            <h2 class="introH" style="font-size:2em">Aggregate analysis</h2>
            <p class="intro"><a
                href="tab/heatmap">Aggregate heatmap analysis based</a> on our current
                installed user base is publicly available.
                Enjoy. As we add more analyses, we will evaluate if/how we want
                to provide access to them. The decision will largely be driven
                by privacy implications. 
            </p>
            <h2 class="introH" style="font-size:2em">Personalized analysis</h2>
            <p class="intro">The personal data collection
            apps for android and iOS are currently in private alpha. If you
            would like an invitation, please email <a
            href="mailto:shankari@eecs.berkeley.edu">shankari@eecs.berkeley.edu</a>
            indicating:
            <ul class="intro"> 
                <li> whether you are using android or iOS, and <li>
                <li> the address to send the invitation to - gmail account on android, apple ID on iOS
            </ul>
            <p class="intro">Since TestFlight <a
                href="https://developer.apple.com/testflight/">limits the number of users in
                private alpha</a>, we have only ~ 15 slots currently available for iOS testers.
                So reply soon if you want to participate!</p>
            </p>
        </section>
    </section>
</fullpage>
</ion-content>
</ion-view>
