<ion-view view-title="Home">
    <ion-content>
        <section>
            <section id="summary" style="padding-top:70px;">
                <section class="container card center" style="padding-left:4%; padding-top:1%; padding-bottom:1%">
                    <div class="">
                        <div class="row">
                            <div class="col-md-2 ">
                               <img ng-src="img/personal/compare_with_common.png" style="float:left;">
                           </div>
                           <div class="col-md-8" id="main-back">
                            <h1 class="introH">E-mission</h1>
                            <p class="intro firstPar">E-Mission is a research project at UC Berkeley that allows all of us to share our travel patterns and experiences with our community and with urban planners.</p>
                            <p class="intro firstPar">Our goal is to enable personal and structural shifts to sustainable transportation.</p>
                            <p class="intro firstPar" >The project consists of a smartphone application that functions as a personal travel diary, and an aggregate data analysis platform that enables interactive exploration of the collected data.</p>
                        </div>
                        <div class="col-md-2">
                           <img ng-src="img/personal/compare_with_common.png" style="float:right;">
                       </div>
                   </div>
               </div>
           </section>
       </section>
       <section class="page" id="personal">
        <section class="container card" style="padding:1%;">
            <div class="row">
                <div class="col-md-4">
                    <uib-carousel id="personalCarousel" active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in personalSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                              <p>{{slide.text}}</p>
                          </div>
                      </uib-slide>
                  </uib-carousel>
              </div>
            <div class="col-md-6" style="padding-left:10%;padding:right:10%;">
                <h1 class="introH">Personal</h1>
                <p class="intro">The phone app provides a
                    personalized travel diary, with information about times,
                    distances, trajectories and travel modes. Since we track travel patterns over
                    time, we are able to build data-driven tour models that we can use to track
                    personalized trends over time:
                    <ul class='intro'>
                        <li> Are your trips taking longer?</li>
                        <li> Are you leaving for work later?</li>
                        <li> Are you using different transportation modes?</li>
                    </ul>
                    <h3>Download Now</h3>
                    <a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="height:75px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                    <a href="https://itunes.apple.com/us/app/emission/id1084198445?&mt=8"><img ng-src="img/apple-badge.svg"> 
                    </a>
                </p>
            </div>
            </div>
        </section>
        </section>
        <section class="page" id="aggregate">
                <section class="container card" style="padding:1%">
                    <h1 class="introH">Aggregate</h1>
                    <p class="intro">The webapp provides an aggregate
                     view of travel patterns and supports filters by mode, month, day,
                     weekday and time of day. This enables fine-grained visibility into changes over
                     time. The maps here show the heatmap for <b>bicycling</b> trips in the
                     Berkeley Area on <b>Thursday</b> commute hours <b>(7am to 10am)</b> in the
                     months of <b>March and April</b>. It looks like somebody used to bike around the South
                     side in March and then stopped!!
                     <a class="button button-assertive" href="#/heatmap">Explore now!</a>
                 </p>
                 <div class="item item-image item-body">
                    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in aggregateSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="align:center;margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </section>
        </section>
        <section class="page" id="code">
            <section class="container card" style="padding:1%">
                <h1 class="introH">Code</h1>
                <p class="intro">The code is available on github under an open source BSD license. So you have complete visibility into the data that we collect, the analysis that we perform on it, and the results that we display.</p>
                <h3>View on GitHub<h3>
                <a href="https://github.com/e-mission/e-mission-server"><img style="height:100px" ng-src="img/GitHub-Mark-120px-plus.png"></a>
                <p class="intro">You can even join our list of contributors. </p>
                <p class="intro"><a href="https://github.com/e-mission/e-mission-server/graphs/contributors">Server code</a> </p>
                <p class="intro"><a href="https://github.com/e-mission/e-mission-phone/graphs/contributors">Phone code</a></p>
                <p class="intro">Cordova plugins for:
                    <ul class="intro">
                        <li> <a href="https://github.com/e-mission/e-mission-data-collection/graphs/contributors">energy-efficient data collection</a> </li>
                        <li> <a href="https://github.com/e-mission/cordova-usercache/graphs/contributors">bi-directional offline storage and processing</a></li>
                        <li> and more: <a href="https://github.com/e-mission/">https://github.com/e-mission/</a></li>
                    </ul>
                </section>
            </section>
            <section class="page" id="join" style="padding-bottom:70px">
                <section class="container card" style="padding:1%">
                    <h1 class="introH">Join us!</h1>
                    <div class="item-text-wrap">
                        <h2 class="introH" style="font-size:2vw">Aggregate analysis</h2>
                        <p class="intro"><a
                            href="#/heatmap">Aggregate heatmap analysis based</a> on our current
                            installed user base is publicly available.
                            Enjoy. As we add more analyses, we will evaluate if/how we want
                            to provide access to them. The decision will largely be driven
                            by privacy implications. 
                        </p>
                        <h2 class="introH" style="font-size:2vw">Personalized analysis</h2>
                        <p class="intro">The personal data collection
                            apps for android and iOS are now publicly available.</p>
                         <a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img style="height:75px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                        <a href="https://itunes.apple.com/us/app/emission/id1084198445?&mt=8"><img ng-src="img/apple-badge.svg"> 
                    </a>
               </div>
                    </section>
                </section>
            </section>  
        </ion-content>
    </ion-view>
