<ion-view view-title="Home">
    <ion-content id="home-content">
            <section id="summary" class="emission-docs-masthead" role="main">
                <h3 style="color: white">e-mission: the first open-source, extensible mobilityscope platform</h3>
                <uib-carousel 
                    active="active"
                    interval=10000
                    no-wrap="false">

                    <uib-slide ng-repeat="slide in introSlides track by slide.id" index="slide.id" class="intro-slide">
                        <img ng-src="{{slide.image}}" class="intro-img" style="height:90vh">
                        <div class="carousel-caption">
                            <p class="caption-text">{{slide.text}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </section>
       <section class="page" id="migration">
        <section class="container card" style="padding:1%">
            <h1 class="introH;" style="color: #0079c2">Moved to NREL</h1>
            <p class="intro">This project has now moved to the <a
                href="https://nrel.gov">National
                Renewable Energy Laboratory (NREL)</a>. We are excited about
                integrating with <a href="https://www.nrel.gov/transportation/data-tools.html">other tools in the Center for Integrated Mobility Sciences (CIMS)</a>, to help translate the data we collect into recommendations.

                As part of the transition:
                <p class="intro firstPar"> ✔️  we will create a new logo and potentially rename the project.</p>
                <p class="intro secondPar"> ✔️  we will retire this website and create a new one hosted at NREL </p>
                <p class="intro thirdPar"> ✔️  we will retire the e-mission app and replace it with an emTripLog equivalent published by NREL.</p>

                 <div class="item item-image item-body">
                    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in RIPSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="align:center;margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </p>
        </section>
        </section>
            <section class="page" id="overview">
                <section class="container card" style="padding:1%;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-2 ">
                               <img ng-src="img/personal/compare_with_common.png" style="float:left;">
                           </div>
                           <div class="col-md-8" id="main-back">
                            <h1 class="introH">e-mission</h1>
                            <p class="intro firstPar">e-mission is a project that was started at UC Berkeley. It allows all of us to share our travel patterns and experiences with our community and with urban planners. It has now moved to the National Renewable Energy Laboratory (NREL)</p>
                            <p class="intro firstPar">Our goal is to enable personal and structural shifts to sustainable transportation.</p>
                            <p class="intro firstPar" >The project consists of a smartphone application that functions as a personal travel diary, and an aggregate data analysis platform that enables interactive exploration of the collected data.</p>
                        </div>
                        <div class="col-md-2">
                           <img ng-src="img/personal/compare_with_common.png" style="float:right;">
                       </div>
                   </div>
               </div>
           </section>
       </section>
       <section class="page" id="personal">
        <section class="container card" style="padding:1%;">
            <div class="row">
                <div class="col-md-4">
                    <uib-carousel id="personalCarousel" active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in personalSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                              <p>{{slide.text}}</p>
                          </div>
                      </uib-slide>
                  </uib-carousel>
              </div>
            <div class="col-md-6" style="padding-left:10%;padding:right:10%;">
                <h1 class="introH">Personal</h1>
                <p class="intro">The phone app provides a
                    personalized travel diary, with information about times,
                    distances, trajectories and travel modes.
                    <h3>Download Now</h3>
                    <p class="intro">If you want to test out the functionality without waiting for NREL to publish the apps, please use the emTripLog app</p>
                        <a class="col" href='{{android_base_app}}'><img style="height:75px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                        <a class="col" href="{{ios_base_app}}"><img alt='Get it on the iOS app store' ng-src="img/apple-badge.svg"></a>
                    </p>
                    <p class="intro">with either of these QR codes</p>
                    <div class="row">
                    <div class="col-50">Polar bears</div>
                    <div class="col-50">Dashboard</div>
                    </div>
                    <div class="row">
                    <div class="col-50"><img src="img/urap2017emotion.png"></img></div>
                    <div class="col-50"><img src="img/NRELlh.png"></img></div>
                    </div>
                </p>
            </div>
            </div>
        </section>
        </section>
        <section class="page" id="aggregate">
                <section class="container card" style="padding:1%">
                    <h1 class="introH">Aggregate</h1>
                    <p class="intro">The platform also includes <a href="https://github.com/e-mission/em-public-dashboard">a dashboard component</a>
                     that can run ipython notebooks periodically and visualize
                     the static results. This allows partners to quickly obtain
                     the metrics that are important to them while ensuring that repeated queries
                     cannot zoom in and undermine privacy.
                 </p>
                 <div class="item item-image item-body">
                    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="slide in aggregateSlides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="align:center;margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.text}}</p>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </section>
        </section>
        <section class="page" id="code">
            <section class="container card" style="padding:1%">
                <h1 class="introH">Code and Privacy</h1>
                <p class="intro">The code is available on github under an open source BSD license. So you have complete visibility into the data that we collect, the analysis that we perform on it, and the results that we display.</p>
                <h3>View on GitHub</h3>
                <a href="https://github.com/e-mission/e-mission-server"><img style="height:100px" ng-src="img/GitHub-Mark-120px-plus.png"></a>
                <p class="intro">You can even join our list of contributors. </p>
                <p class="intro"><a href="https://github.com/e-mission/e-mission-server/graphs/contributors">Server code</a> </p>
                <p class="intro"><a href="https://github.com/e-mission/e-mission-phone/graphs/contributors">Phone code</a></p>
                <p class="intro"><del>Our data collection <a href="docs/consent.html">consent form</a> and storage procedures are also <a href="docs/approval_letter.pdf">overseen by the UC Berkeley Committee for the Protection of Human Subjects (CPHS)</del></a>. </p>
                <p class="intro">In this liminal state where the data is not being collected by UC Berkeley, but the migration to NREL is not complete, the data is being collected by me (shankari@eecs.berkeley.edu) in my personal capacity. I don't intend to sell or otherwise monetize the data, but I'm not really set up to collect large amounts of data either. I'm really providing this a service for potential deployers to experiment with the platform.</p>
                </section>
            </section>
            <section class="page" id="join" style="padding-bottom:70px">
                <section class="container card" style="padding:1%">
                    <h1 class="introH">Join us!</h1>
                    <div class="item-text-wrap">
                        <h2 class="introH" style="font-size:2vw">Aggregate analysis</h2>
                        <p class="intro"> An example of the aggregate analysis
                        supported by e-mission is the <a href="https://dashboard.canbikeco.org">public dashboard for the CanBikeCO
project</a>. If
                        you are interested in partnering with us to deploy
                            e-mission for your project, please contact us at
                            shankari@eecs.berkeley.edu
                        </p>
                        <h2 class="introH" style="font-size:2vw">Personalized analysis</h2>
                        <p class="intro">If you want to try out the platform first,
                            please use the emTripLog app</p>
                        <a class="col" href='{{android_base_app}}'><img style="height:75px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                        <a class="col" href="{{ios_base_app}}"><img alt='Get it on the iOS app store' ng-src="img/apple-badge.svg"></a>
                        <p class="intro">with either of these QR codes</p>
                        <div class="row">
                        <div class="col-50">Polar bears</div>
                        <div class="col-50">Dashboard</div>
                        </div>
                        <div class="row">
                        <div class="col-50"><img src="img/urap2017emotion.png"></img></div>
                        <div class="col-50"><img src="img/NRELlh.png"></img></div>
                        </div>
                    </a>
               </div>
                    </section>
                </section>
        </ion-content>
    </ion-view>
