<html>
	<head>
		<div class = "top_bar">
			<div class = "item" id = "logo"> <a href = "../index.html"> <img src = "../img/greentrip_logo.png" style = "width:150px; height:100px;"> </a> </div>
			<div class = "item"> <a href = "incentive.html"> Incentivization </a> </div>
			<div class = "item"> <a href = "who_we_are.html"> Who We Are </a> </div>
			<div class = "item"> <a href = "supporters.html"> Supporters </a> </div>
			<div class = "item"> <a href = "related_work.html"> Related Works </a> </div>
			<div class = "item"> </div> <!-- adds space on home bar to replace join study button -->
		</div>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=EB+Garamond">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>




</html>