<ion-view view-title="Trip Planning">
  <ion-nav-buttons side="left">
    <button class="button button-icon" ui-sref="home">
        <i class="icon-left ion-home"></i> Home
    </button>
    <button class="button button-icon" ui-sref="heatmap">
        <i class="icon-left ion-fireball"></i> Analysis
    </button>
    <button class="button button-icon" ui-sref="metrics">
        <i class="icon-left ion-ios-analytics"></i> Metrics
    </button>
    <button class="button button-icon" ui-sref="trip-planning">
        <i class="icon-left ion-android-compass"></i> Trip Planning
    </button>
    <button class="button button-icon" ui-sref="game">
        <i class="icon-left ion-checkmark"></i> Game
    </button>
  </ion-nav-buttons>
      <button class="button button-icon" ui-sref="game">
          <i class="icon-left ion-checkmark"></i> Game
      </button>
     </ion-nav-buttons>
  <ion-content class="has-header padding">
	<ion-content>
		<ion-item>
			<iframe src='https://em-planner.eecs.berkeley.edu' width="100%" height="550" frameborder="0" allowfullscreen>
			</iframe>
		</ion-item>
	</ion-content>
</ion-view>