<html>
	<head>
		<div class = "top_bar">
			<div class = "item" id = "logo"> <a href = "index_copy.html"> <img src = "../img/greentrip_logo.png" style = "width:150px; height:100px;"> </a> </div>
			<div class = "item"> <a href = "incentive.html"> Incentivization </a> </div>
			<div class = "item"> <a href = "who_we_are.html"> Who We Are </a> </div>
			<div class = "item"> <a href = "supporters.html"> Supporters </a> </div>
			<div class = "item"> <a href = "related_work.html"> Related Works </a> </div>
			<div class = "button"> <a href = "client_setup.html"> JOIN STUDY </a> </div>
		</div>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=EB+Garamond" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<div class = "large_text" id = "large_text_3"> Who We Are </div>
	<div class = "student_info">
		<img src = "../img/vanessa.jpg" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> Vanessa Lin</div>
			<div class = "background"> Vanessa is a second year computer science major studying at UC Berkeley. Vanessa was in charge of setting up the suggestion system and the back-end development of the study. Vanessa will be working as an Engineering Practicum intern at Google this upcoming summer. </div>
		</div>
	</div>
	<div class = "student_info">
		<img src = "../img/trevor.jpg" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> Trevor Wu</div>
			<div class = "background"> Trevor is a second year Civil Engineering and EECS student at UC Berkeley. He was in charge of front-end setup, testing, and developing some front-end features. Trevor has previously worked for the San Francisco Municipal Transportation Agency as a student design intern. </div>
		</div>
	</div>
	<div class = "student_info">
		<img src = "../img/emma.jpg" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> Emma Vickery</div>
			<div class = "background"> Emma is a second year Electrical Engineering and Computer Science major studying at UC Berkeley. Emma was in charge of server setup, maintenance and system debugging. She will be working as a software development engineer intern at Amazon this upcoming summer. </div>
		</div>
	</div>
	<div class = "student_info">
		<img src = "../img/bill.jpg" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> Bill Cao</div>
			<div class = "background"> Bill is a second year computer science major with a public policy minor studying at UC Berkeley. Bill was in charge of various tasks including funding and some server setup. He will be working as a software engineering intern at Blend Labs this upcoming summer. </div>
		</div>
	</div>
	<div class = "student_info">
		<img src = "../img/samantha.JPG" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> Samantha Banchik</div>
			<div class = "background"> Samantha is a third year computer science major studying at UC Berkeley. She was in charge of some server setup, but largely front-end integration. Samantha will be working as a software engineering intern at Uber this upcoming summer.  </div>
		</div>
	</div>
	<div class = "student_info">
		<img src = "../img/shankari.jpg" style = "width: 100px%; height: 150px;">
		<div class = "text">
			<div class = "name"> K. Shankari </div>
			<div class = "background"> Shankari is a PhD candidate in EECS with a designated emphasis in Global Metropolitan Studies. She is the maintainer and primary contributor to the e-mission platform, which was used for this study. Her overarching goal is to mainstream and democratize sustainable transportation and planning. </div>
		</div>
	</div>


	</div>
</html>