{
	"access_token" : "Get from https://developers.google.com/maps/"
	"backup_access_token" : "Get from https://developers.google.com/maps/"
    "nearby_base_url": "https://maps.googleapis.com/maps/api/place/nearbysearch/json?",
    "search_base_url": "https://maps.googleapis.com/maps/api/geocode/json?"
}
