[out:json][timeout:25];
(
  node["highway"="bus_stop"]({bbox});
  node["railway"="station"]({bbox});
  node["public_transport"]({bbox});
  way["railway"="station"]({bbox});
  relation["route"]({bbox});
);
out body;
>;
