{
    "emission_id_legacy": "Obsolete since parse.com has shut down. Only for backwards compatibility.",
    "emission_key_legacy": "Obsolete since parse.com has shut down. Only for backwards compatibility",
    "push_server": "Choose a parse-compatible push notification provider",
    "emission_id": "Choose while starting push_server above",
    "emission_key": "Choose while starting push_server above",
    "emission_master_key": "Choose while starting push_server above"
}
